<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="120.2.7" targetFramework="net48" />
  <package id="cef.redist.x86" version="120.2.7" targetFramework="net48" />
  <package id="CefSharp.Common" version="120.2.70" targetFramework="net48" />
  <package id="CefSharp.Wpf" version="120.2.70" targetFramework="net48" />
  <package id="ControlzEx" version="4.4.0" targetFramework="net48" />
  <package id="Google.Apis" version="1.66.0" targetFramework="net48" />
  <package id="Google.Apis.Auth" version="1.66.0" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.66.0" targetFramework="net48" />
  <package id="Google.Apis.YouTube.v3" version="1.66.0.3309" targetFramework="net48" />
  <package id="MahApps.Metro" version="2.4.10" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks" version="4.11.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net48" />
  <package id="System.Management" version="7.0.2" targetFramework="net48" />
</packages>